<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>College_List</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<style>
	/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding: 25px 0px 0px 10px;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "ID :"; }
		td:nth-of-type(2):before { content: "FirstName :"; }
		td:nth-of-type(3):before { content: "LastName :"; }
		td:nth-of-type(4):before { content: "Mobile :"; }
		td:nth-of-type(5):before { content: "Email :"; }
		td:nth-of-type(6):before { content: "State :"; }
		td:nth-of-type(7):before { content: "Country :"; }
		td:nth-of-type(8):before { content: "Skill :"; }
		td:nth-of-type(9):before { content: "Others :"; }
}
</style>

<body>
<nav class="navbar navbar-expand-sm">
  
  <a class="navbar-brand" href="/lms/admin/admin_successLogin">
    <img src="../images/Caramel-Horz.png" alt="logo" style="width:240px; height:65px; margin:0px 0px 0px 0px;">
  </a>
 </nav>
<div align="center">
    <h3>College / University List</h3>
    
    <br/><br/>
    <table role="table"  border="2px 1px 1px 1px solid"  cellpadding="10px">
        <thead role="rowgroup" class="table table-primary table-striped">
            <tr role="row">
                <th role="columnheader">ID</th>
                <th role="columnheader">CollegeName</th>
                <th role="columnheader">UniversityName</th>
                <th role="columnheader">TypeOfUniversity</th>
                <th role="columnheader">Mobile</th>
                <th role="columnheader">Email</th>
                <th role="columnheader">State</th>
                <th role="columnheader">Country</th>
                <th role="columnheader">Skill</th>
                <th role="columnheader">Others</th>
            </tr>
        </thead>
        <tbody  role="rowgroup">
          <tr role="row">
            <tr th:each="college : ${listColleges}">
                <td role="cell" th:text="${college.id}">ID</td>
                <td role="cell" th:text="${college.collegeName}">CollegeName</td>
                <td role="cell" th:text="${college.universityName}">UniversityName</td>
                <td role="cell" th:text="${college.typeOfUniversity}">TypeOfUniversity</td>
                <td role="cell" th:text="${college.mobile}">Mobile</td>
                <td role="cell" th:text="${college.email}">Email</td>
	            <td role="cell" th:text="${college.state}">State</td>
                <td role="cell" th:text="${college.country}">Country</td>
                <td role="cell" th:text="${college.skill}">Skill</td>
                <td role="cell" th:text="${college.others}">Others</td>
            </tr>
           </tr>
        </tbody>
    </table>
</div>   
</body>
</html>
