<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Instructor List</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<style>
	/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "ID"; }
		td:nth-of-type(2):before { content: "First Name"; }
		td:nth-of-type(3):before { content: "Last Name"; }
		td:nth-of-type(4):before { content: "Mobile"; }
		td:nth-of-type(5):before { content: "Email"; }
		td:nth-of-type(6):before { content: "Subject"; }
		td:nth-of-type(7):before { content: "Experience"; }
		td:nth-of-type(8):before { content: "Profile Details"; }
		td:nth-of-type(9):before { content: "Organisation Name"; }
		td:nth-of-type(10):before { content: "Role"; }
		td:nth-of-type(11):before { content: "Employee Experience"; }
		td:nth-of-type(12):before { content: "Company State"; }
		Std:nth-of-type(13):before { content: "Top Skills"; }
}
</style>

<body>
<nav class="navbar navbar-expand-sm">
  
  <a class="navbar-brand" href="/lms/admin/admin_successLogin">
    <img src="../images/Caramel-Horz.png" alt="logo" style="width:240px; height:65px; margin:0px 0px 0px 0px;">
  </a>
 </nav>
<div align="center">
    <h3>Instructor List</h3>
    
    <br/><br/>
    <table role="table"  border="2px 1px 1px 1px solid"  cellpadding="10px">
        <thead role="rowgroup" class="table table-primary table-striped">
            <tr role="row">
                <th role="columnheader">ID</th>
                <th role="columnheader">First Name</th>
                <th role="columnheader">Last Name</th>
                <th role="columnheader">Mobile</th>
                <th role="columnheader">Email</th>
                <th role="columnheader">Subject</th>
                <th role="columnheader">Experience</th>
                <th role="columnheader">Profile Details</th>
                <th role="columnheader">Organisation Name</th>
                <th role="columnheader">Role</th>
                <th role="columnheader">Employee Experience</th>
                <th role="columnheader">Company State</th>
                <th role="columnheader">Top Skills</th>
            </tr>
        </thead>
        <tbody  role="rowgroup">
          <tr role="row">
            <tr th:each="instructor : ${listInstructors}">
                <td role="cell" th:text="${instructor.id}">ID</td>
                <td role="cell" th:text="${instructor.firstName}">First Name</td>
                <td role="cell" th:text="${instructor.lastName}">Last Name</td>
                <td role="cell" th:text="${instructor.mobile}">Mobile</td>
                <td role="cell" th:text="${instructor.email}">Email</td>
                <td role="cell" th:text="${instructor.subject}">Subject</td>
                <td role="cell" th:text="${instructor.time}">Experience</td>
                <td role="cell" th:text="${instructor.profile}">Profile Details</td>
                <td role="cell" th:text="${instructor.companyName}">Organisation Name</td>
                <td role="cell" th:text="${instructor.role}">Role</td>
                <td role="cell" th:text="${instructor.empExperience}">Employee Experience</td>
                <td role="cell" th:text="${instructor.cstate}">Company State</td>
                <td role="cell" th:text="${instructor.skills}">Top Skills</td>
            </tr>
           </tr>
        </tbody>
    </table>
</div>   
</body>
</html>



















